/* static/css/base.css */

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )
-----------------------------------------*/
:root {
  --white-color:                #FFFFFF;
  --primary-color:              #FF4400;
  --section-bg-color:           #f0f8ff;
  --dark-color:                 #000000;
  --grey-color:                 #d0d1d1;
  --p-color:                    #717275;

  --body-font-family:           'Vazir', sans-serif; /* Updated to Vazir */

  --h5-font-size:               24px;
  --p-font-size:                20px;
  --copyright-text-font-size:   16px;
  --product-link-font-size:     14px;
  --custom-link-font-size:      12px;

  --font-weight-thin:           100;
  --font-weight-light:          300;
  --font-weight-normal:         400;
  --font-weight-bold:           700;
  --font-weight-black:          900;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);
    position: relative;
}

/*---------------------------------------
  TYPOGRAPHY
-----------------------------------------*/
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: 64px;
  line-height: normal;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

.lead {
  font-size: 1.5rem;
  font-weight: var(--font-weight-thin);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  PRE LOADER
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 var(--white-color);
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -23px;
  border-radius: 50%;
  border: 1px solid #959595;
  border-top-color: var(--white-color);
  animation: spinner .9s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

/*---------------------------------------
  SECTION
-----------------------------------------*/
section {
  content-visibility: auto;
  contain-intrinsic-size: 700px;
}

.section-padding {
  padding-top: 70px;
  padding-bottom: 4rem;
}