/*style2.css*/
.search-box {
  position: relative;
  width: 50%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgba(248, 143, 102, 0.99) 0%, rgb(255, 210, 195) 100%);
  padding: 5px;
  display: flex;
  align-items: center;
    justify-content:center ;
}
.search-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh; /* ارتفاع کل صفحه را بگیرد */
}


.search-box::after, .search-box::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}

.search-box::before {
  top: -1px;
  left: -1px;
  background: linear-gradient(0deg, rgb(243, 163, 134) 0%, rgb(251, 188, 165) 100%);
  z-index: -1;
}

.search-box::after {
  bottom: -1px;
  right: -1px;
  background: linear-gradient(0deg, rgba(255, 119, 65, 0.99) 0%, rgba(255, 98, 39, 0.99) 100%);
  box-shadow: rgb(255, 80, 12) 3px 3px 5px 0px, rgb(255, 68, 0) 5px 5px 20px 0px;
  z-index: -2;
}

.search-input {
  padding: 10px;
  width: 100%;
  background: linear-gradient(135deg, rgb(255, 186, 155) 0%, rgba(255, 170, 137, 0.99) 100%);
  border: none;
  color: rgba(255, 177, 148, 0.99);
  font-size: 20px;
  border-radius: 50px;
}

.search-input:focus {
  outline: none;
  background: linear-gradient(135deg, rgb(255, 133, 91) 0%, rgb(255, 128, 80) 100%);
}

.search-icon {
  width: 50px;
  aspect-ratio: 1;
  border-left: 2px solid rgba(255, 173, 140, 0.99);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  padding-left: 12px;
  margin-right: 10px;
}

.search-icon:hover {
  border-left: 3px solid #ffffff;
}

.search-icon path {
  fill: rgb(255, 255, 255);
}
