<!-- required_login.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <main>
        <section class="required-login-form section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto col-12">
                        <h1 class="hero-title text-center mb-5">شما باید وارد اکانت خود شوید تا به صفحه دسترسی پیدا کنید </h1>
                        <p class="text-center"><a href="{% url 'accounts:login' %}">ورود</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
