<!-- latest_apparels.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="featured-product section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="mb-5">محصولات جدید</h2>
                </div>
                {% for apparel in apparels %}
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="{% url 'nafis:apparel_detail' apparel.id %}">
                                <img src="{{ apparel.main_image.url }}" class="img-fluid product-image" alt="{{ apparel.name }}">
                            </a>
                            <!--<div class="product-top d-flex">
                                <span class="product-alert me-auto">New Arrival</span>
                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>-->

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="{% url 'nafis:apparel_detail' apparel.id %}" class="product-title-link">{{ apparel.name }}</a>
                                    </h5><br>
                                     <h6 class="product-price text-muted ms-auto mt-auto mb-5">
                                    {{ apparel.price }} تومان
                                    </h6>
                                </div>
                                <p>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                                <p class="product-p">{{ apparel.subcategory }}</p>



                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
